body{
    font-family: time, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.titleContainer {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

.moodRecordContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    border: 2px solid #333;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    background-color: #f8f2f9;
}

.small-hr {
    border: none;
    height: px;
}