body{
    font-family: time, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.titleContainer {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

.moodRecordContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

hr {
    border: none;
    height: 70px;
}